/* Your custom styles */

/* Required for full background image */

html,
body,
header,
.view {
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Jura', sans-serif;
}

@media (max-width: 740px) {
  header {
  }
}


h6 {
  line-height: 1.7;
}
                
.form-gradient .font-small {
    font-size: 0.8rem; }
  
  .form-gradient .header {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem; }
  
  .form-gradient input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4285F4;
    -webkit-box-shadow: 0 1px 0 0 #4285F4;
    box-shadow: 0 1px 0 0 #4285F4; }
  
  .form-gradient input[type=text]:focus:not([readonly]) + label {
    color: #4f4f4f; }
  
  .form-gradient input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #4285F4;
    -webkit-box-shadow: 0 1px 0 0 #4285F4;
    box-shadow: 0 1px 0 0 #4285F4; }
  
  .form-gradient input[type=password]:focus:not([readonly]) + label {
    color: #4f4f4f; }
    .primary-text {
      color: #4285F4; }
    
    .danger-text {
      color: #ff3547; }
    
    .warning-text {
      color: #FF8800; }
    
    .success-text {
      color: #00C851; }
    
    .info-text {
      color: #33b5e5; }
    
    .default-text {
      color: #2BBBAD; }
    
    .secondary-text {
      color: #aa66cc; }
      .switch.primary-switch label input[type=checkbox]:checked + .lever {
        background-color: #689DF6;
      }
      .switch.primary-switch label input[type=checkbox]:checked + .lever:after {
        background-color: #4285F4;
      }
      .switch.default-switch label input[type=checkbox]:checked + .lever {
        background-color: #4DCCBF;
      }
      .switch.default-switch label input[type=checkbox]:checked + .lever:after {
        background-color: #2BBBAD;
      }
      .switch.secondary-switch label input[type=checkbox]:checked + .lever {
        background-color: #C791E2;
      }
      .switch.secondary-switch label input[type=checkbox]:checked + .lever:after {
        background-color: #a6c;
      }
      .switch.success-switch label input[type=checkbox]:checked + .lever {
        background-color: #2ACC6C;
      }
      .switch.success-switch label input[type=checkbox]:checked + .lever:after {
        background-color: #00C851;
      }
      .switch.info-switch label input[type=checkbox]:checked + .lever {
        background-color: #59C3EB;
      }
      .switch.info-switch label input[type=checkbox]:checked + .lever:after {
        background-color: #33b5e5;
      }
      .switch.warning-switch label input[type=checkbox]:checked + .lever {
        background-color: #FFA339;
      }
      .switch.warning-switch label input[type=checkbox]:checked + .lever:after {
        background-color: #F80;
      }
      .switch.danger-switch label input[type=checkbox]:checked + .lever {
        background-color: #FF606F;
      }
      .switch.danger-switch label input[type=checkbox]:checked + .lever:after {
        background-color: #ff3547;
      }
      .switch.teal-switch label input[type=checkbox]:checked + .lever {
        background-color: #b2dfdb;
      }
      .switch.teal-switch label input[type=checkbox]:checked + .lever:after {
        background-color: #80cbc4;
      }
      .switch.pink-switch label input[type=checkbox]:checked + .lever {
        background-color: #f8bbd0;
      }
      .switch.pink-switch label input[type=checkbox]:checked + .lever:after {
        background-color: #f48fb1;
      }
      .switch.blue-switch label input[type=checkbox]:checked + .lever {
        background-color: #b3e5fc;
      }
      .switch.blue-switch label input[type=checkbox]:checked + .lever:after {
        background-color: #81d4fa;
      }
      .switch.amber-switch label input[type=checkbox]:checked + .lever {
        background-color: #ffe082;
      }
      .switch.amber-switch label input[type=checkbox]:checked + .lever:after {
        background-color: #ffd54f;
      }
      .switch.mdb-color-switch label input[type=checkbox]:checked + .lever {
        background-color: #618FB5;
      }
      .switch.mdb-color-switch label input[type=checkbox]:checked + .lever:after {
        background-color: #3F729B;
      }
      .switch.indigo-switch label input[type=checkbox]:checked + .lever {
        background-color: #9fa8da;
      }
      .switch.indigo-switch label input[type=checkbox]:checked + .lever:after {
        background-color: #7986cb;
      }
      .switch.blue-white-switch label input[type=checkbox]:checked + .lever {
        background-color: #2196f3;
      }
      .switch.blue-white-switch label input[type=checkbox]:checked + .lever:after {
        background-color: #fff;
      }
      .switch.blue-white-switch label .lever  {
        background-color: #ccc;
      }
      .switch.blue-white-switch label .lever:after {
        background-color: #fff;
      }
                        